body {
  font-family: 'Roboto', sans-serif;
  background-color: #0B3D91;
  color: #FFFFFF;
}

.v-card {
  background-color: #1E1E2D;
  color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.v-btn {
  text-transform: uppercase;
  font-weight: bold;
}

.v-form {
  background-color: #1E1E2D;
  padding: 20px;
  border-radius: 8px;
}

.day-theme {
  background: linear-gradient(to bottom, #c8eb87, #FFFFFF);
  color: #000000;
}

.night-theme {
  background: linear-gradient(to bottom, #1B3D91, #000000);
  color: #FFFFFF;
}

.v-application {
  transition: background 0.5s ease, color 0.5s ease;
}